#startTime {
    background-color: blueviolet;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
#quizDiv {
    margin: 20px;
}

#timer {
    float: right;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

li {
    background-color: gainsboro;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: black;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}